/* General */
body {
  font-family: Arial, sans-serif;
  margin: 1rem;
  background: moccasin;
  color: midnightblue;
  line-height: 1.5;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  background: greenyellow ;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 80px;
  align-items: start;
  display: run-in ;
  margin: 2px;
}

nav ul {
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: aliceblue;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px

}

nav a.active,
nav a:hover {
  text-decoration: yellow ;
}

.hero-img img {
  background: yellow;
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

main {
  background-color: #9c9cac;
  padding: 1rem;
}

section h2 {
  text-align: center;
  width: 100%;
}

article {
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  flex: auto;
  margin: 0.5rem;
  padding: 1rem;
}

article img {
  max-width: 100%;
}
section {
    display: flex;
    flex-wrap: wrap;
  }
article{
  width: 30%;
}

/* Responsive (Mobile) */
@media (max-width: 768px) {
  .card-section {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
}

.contact-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
}

.contact-info {
  flex: 1;
  font-size: 20px;
  line-height: 1.7;
}

.map {
  flex: 1 1 400px;
  min-height: 500px;
}

.map iframe {
  flex: 1;
  min-width: 300px;
  height: 280px;
  background: #333;
  color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* On small screens stack vertically */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }
}
