/* General */
body {
  font-family: Arial, sans-serif;
  margin: 1rem;
  background: moccasin;
  color: midnightblue;
  line-height: 1.5;
}

/* Header */
header {
  background: #004466;
  color: Gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: aliceblue;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px

}

nav a.active,
nav a:hover {
  text-decoration: underline;
}

/* Hero Image */
.hero-img img {
  background: yellow;
  width: 90%;
  height: 350px;
  object-fit: cover;
  display: block;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Intro text */
.intro {
  max-width: 900px;
  margin: 1.5rem auto;
  padding: 0 1rem;
  text-align: center;
}

/* Product Cards */
.card-section {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.card {
  background: yellowgreen;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 280px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card img {
  width: 100%;
  height: 20rem;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 1px 4px 10px rgba(0, 0, 1, 1);
}

/* Responsive (Mobile) */
@media (max-width: 768px) {
  .card-section {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
}

/* Contact page layout */
.contact-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
}

.contact-info {
  flex: 1 1 300px;
}

.map {
  flex: 1 1 400px;
  min-height: 500px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* On small screens stack vertically */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }
}
